<%- include("partials/header.ejs") %>

<section id="home">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-6 home_left">
                <h1>Premium notes creator. Now free for everyone.</h1>
                <h2>We re-develope the service we built the secure platform, Save Notes, to make it free and available for all.</h2>
                <div class="home_authenticate">    
                    <a href="/login" type="button" class="btn btn_login">Login</a>
                    <span>&nbsp;OR&nbsp;</span>
                    <a href="/register" type="button" class="btn btn_register btn-outline-warning">Register</a>
                </div>
                <hr>
            </div>
            <div class="col-md-6">
                <img src="images/Notes_Monochromatic.svg" class="rounded ml-auto d-block" alt="...">
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>