<%- include("partials/header.ejs") %>

<section class="container">
    <div class="jumbotron bg-white jb_tron mx-auto">
        <h3 class="text-muted register_brand">Save Notes</h3>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" name="username" class="form-control">

                <label for="InputPassword">Password</label>
                <input type="password" name="password" class="form-control"><br>
                <button type="submit" class="btn btn-warning btn-block">Login</button>

                <small class="form-text text-muted">Use different method to login.</small>
                <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                    <i class="fab fa-google"></i>
                    Sign Up with Google
                </a>
            </div>
        </form>
    </div>
</section>

<%- include("partials/footer.ejs") %>